.home {
  height: 100vh;
}
@media screen and (max-width: 800px) {
  .home {
    height: 200vh;
  }
}
.mainDiv {
  margin-bottom: 50px;
  font-weight: 500;
  &:nth-last-child(1) {
    margin-top: 200px;
    text-align: right;
  }
  &:nth-last-child(3) {
    margin-top: 50px;
    text-align: center;
  }
}
